body{
  background-color: #FEF2FF;
    text-align:center;
    margin:auto;
    padding-top:50px;
}
#container{
    text-align:center;
    margin:auto;
    color: #7a7a7a;
}
#container h2{
    color: #838383;
    font-weight: bold;
    font-size: xx-large;
}

#block-1 {
    border:2px solid #838383;
    height:75px;
    border-radius: 10px;
    margin-bottom: 10px;
}
#result1 {
    display:block;
    width:135px;
    height:71px;
    background:#FEF2FF;
    color: #9c2565;
    font-size:50px;
    margin-right: 10px;
    overflow: hidden;
    letter-spacing: 4px;
    top:0px;
    float: left;
    border-radius: 10px;
}

#result2 {
    display:block;
    width:60px;
    height:71px;
    font-size:50px;
    background:#FEF2FF;
    color: #9c2565;
    padding-top: 10px;
    margin-left: 0px;
    outline: none;
    overflow: hidden;
    letter-spacing: 4px;
    float: left;
    margin-right: 10px;
}

#result3 {
    display:block;
    width:139px;
    height:71px;
    font-size:50px;
    background:#FEF2FF;
    color: #9c2565;
    padding-top: 10px;
    margin-left: 0px;
    outline: none;
    overflow: hidden;
    letter-spacing: 4px;
    float: left;
    border-radius: 10px;
}

#cal-color{
    width: 402px;
    border:2px solid #838383;
    margin:auto;
    background-image:url('../img/pink-marble-01.jpg');
    padding: 20px;
    border-radius: 15px;
}

#block-1 input {
    width:95px;
    height:60px;
    font-size:50px;
}

#cal-color button {
    width:75px;
    height:75px;
    font-size:50px;
    margin: 4px;
}

.c-big-btn {
    width: 104px;
    background-color: lightpink;
    background-image:url('../img/pop-cat-sm.jpg');
    margin-top:-10px;
}

.c-big-btn p{
    color: #f9f9f9;
    font-weight: bold;
}

.big-btn {
    width: 155px;
    background-image:url('../img/unicorn-02Sm.jpg');
}

.big-btn p{
    color: #f9f9f9;
    margin-left: -100px;
    font-weight: bold;
}

footer p{
    color:#838383;
}