body{
  background-color: #a7a7a7;
    text-align:center;
    margin:auto;
    background-image:url('../img/pink-marble-01.jpg');
}
#container{
    text-align:center;
    margin:auto;

}

#block-1 {
    border:1px solid grey;
    height:75px;
}

#cal-color{
    width: 350px;
    border:1px solid black;
    margin:auto;
}

#block-1 input {
    width:95px;
    height:60px;
    font-size:50px;
}

#cal-color button {
    width:75px;
    height:75px;
    font-size:50px;
}



.c-big-btn {
    width: 154px;
    background-color: lightpink;
}

.big-btn {
    width: 155px;
    background-color: lightblue;
}
